*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
}

header{
  height: 90px;
  text-align: center;
  line-height: 90px;
  color: #fff;
  background-color:cadetblue;
  box-shadow: 0px 0px 12px rgb(195, 191, 191);
}

.container-general{
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-general p:first-child{
  margin-bottom: 10px;
}

.container-general .cont-game{
  min-height: 100px;
  width: 450px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gainsboro;
}

.cont-game .choice-difficulty{
  width: 100%;
  min-height: 85px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px 14px;
  border-bottom: 1px solid cadetblue;
}

.cont-game .choice-difficulty .count-down{
  height: 50px;
  width: 50px;
  border: 2px solid gold;
  border-radius: 50%;
  color: gold;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  margin-right: 140px;
}

.cont-game .choice-difficulty button{
  padding: 10px;
  border-radius: 17px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.cont-game .choice-difficulty button:hover{
  box-shadow: 0px 0px 12px rgb(195, 191, 191);
}

.cont-game .choice-difficulty button:first-child{
  background-color: rgb(148, 234, 18);
}

.cont-game .choice-difficulty button:nth-child(2){
  background-color: goldenrod;
}

.cont-game .choice-difficulty button:last-child{
  background-color:crimson;
}

.cont-game .cont-user-input{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-game .cont-user-input .input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cont-game .cont-user-input .input-container input{
  width: 68%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid cadetblue;
}

.cont-game .cont-user-input .input-container input:focus{
  outline: none;
  width: 80%;
}
.cont-game .cont-user-input .input-container .correction-cont i{
  font-size: 1.3rem;
}

.cont-game .cont-user-input .input-container .correction-cont i.fa-arrow-up{
  color: rgb(148, 234, 18);
}

.cont-game .cont-user-input .input-container .correction-cont i.fa-arrow-down{
  color: crimson;
}

.cont-game .cont-user-input .input-container .correction-cont i.fa-thumbs-up{
  color: green;
  animation: changeSize 2s infinite;
}

@keyframes changeSize{
  0%,100%{
    font-size: 1.3rem;
  }
  50%{
    font-size: 1.5rem;
  }
}

.cont-game .output-message{
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-game .output-message button{
  padding: 10px;
  border-radius: 13px;
  border: none;
  background-color: cadetblue;
  color: #fff;
  cursor: pointer;
  animation: changeSize2 1s infinite;
  margin: 5px;
}

@keyframes changeSize2{
  0%,100%{
    font-size: .9rem;
  }
  50%{
    font-size: 1rem;
  }
}

.start-counter-cont{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-counter-cont .start-counter{
  height: 400px;
  width: 80%;
  background-color: cadetblue;
  text-align: center;
  line-height: 400px;
  font-size: 1.5rem;
  color: #fff;
}

.d-none{
  display: none !important;
}